# OS-specific
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
desktop.ini

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# CMake + Build
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Binaries
*.exe
*.obj
*.pdb
*.lib
*.dll
*.log
